<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="icon" type="image/x-icon" href="/images/mldn.ico"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<CENTER>
    <h4>错误提示</h4>
    <p th:text="${msg}"/>
</CENTER>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script>
    // $(function () {
    //     setTimeout(function(){
    //         window.location.href="loginPage";
    //         }, 2000);
    // })
</script>
</body>
</html>
