<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">请登录</h2>
        <!--<input type="email" id="inputEmail" class="form-control" placeholder="账号ID" required autofocus />-->
        <!--<input type="password" id="inputPassword" class="form-control" placeholder="密码" required />-->
        <input type="text" id="account" class="form-control" placeholder="账号ID" value="phaeton"  />
        <input type="password" id="password" class="form-control" placeholder="密码" value="970108"  />
        <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
      </form>

    </div> <!-- /container -->

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script>
        $('#login').click(function () {
            var account = $('#account').val();
            var password = $('#password').val();
            $.ajax({
                url:'login',
                data:{
                    'account':account,
                    'password':password
                },
                type:'post',
                success:function (res) {
                    if (res.flag){
                        window.location.href="goods";
                    }else{
                        alert(res.msg);
                    }
                }
            })
        })
    </script>

  </body>
</html>
