<html xmlns:th="http://www.thymeleaf.org">

<!-- 表格 -->
<table class="table table-hover">
    <thead>
    <tr>
        <th class="col-md-2">账号</th>
        <th class="col-md-2">用户名</th>
        <th class="col-md-4">创建时间</th>
        <th class="col-md-2">状态</th>
        <th class="col-md-2">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user,list:${userList}">
        <td th:text="${user.account}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${user.status == 1?'用户正常':'用户停用'}"></td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-sm dropdown-toggle " data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    用户操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li th:onclick="'javascript:cstatus(\''+${user.id}+'\')'"><a href="#">用户启用/停用</a></li>
                    <li th:onclick="'javascript:del(\''+${user.id}+'\')'"><a href="#">删除用户</a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<!-- 表格 -->

<!-- 分页 -->
<ul class="pagination pull-right">
    <li>
        <a th:href="${'goods?pageNum='+ (pageInfo.hasPreviousPage?pageInfo.prePage:'1')}">上一页</a>
    </li>
    <li th:if="${(pageInfo.pageNum)>2}">
        <a th:onclick="'javascript:toPage('+${(pageInfo.pageNum -2)}+')'"
           th:text="${((pageInfo.pageNum)-2)}"
        ></a>
    </li>
    <li th:if="${(pageInfo.pageNum)>1}">
        <a th:onclick="'javascript:toPage('+${(pageInfo.pageNum -1)}+')'"
           th:text="${(pageInfo.pageNum)-1}"
        ></a>
    </li>
    <li>
        <a th:text="${(pageInfo.pageNum)}"></a>
    </li>
    <li th:if="${pageInfo.getLastPage()>pageInfo.pageNum}">
        <a th:onclick="'javascript:toPage('+${(pageInfo.pageNum +1)}+')'"
           th:text="${(pageInfo.pageNum)+1}"
        ></a>
    </li>
    <li th:if="${(pageInfo.getLastPage()-1) >pageInfo.pageNum }">
        <a th:onclick="'javascript:toPage('+${(pageInfo.pageNum +2)}+')'"
           th:text="${(pageInfo.pageNum)+2}"
        ></a>
    </li>
    <li>
        <a th:href="${'goods?pageNum='+ (pageInfo.isHasNextPage()?pageInfo.nextPage:pageInfo.getLastPage())}">
            下一页</a>
    </li>
</ul>
<!-- 分页 -->


<!-- 本页的脚本 -->
<script type="text/javascript" src="js/user.js"></script>
</html>